body{
    background: #777;
    font-family: monospace;
    color: #000;
    margin-left: 250px;
}

*{
    box-sizing: border-box;
}

img {
    border-radius: 35%;
    height: 100px;
    width: 100px;
}

#container{
    padding: 40px;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
}

#navBar{
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: #fafb;
    top:0;
    left:0;
}